_trial_temp
*.py[cod]
*.db
*.so
*.dll
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
lib
lib64
__pycache__
pip-log.txt
.coverage
.tox
nosetests.xml
*~
.*.sw[nop]
*.log
*.pid
config.ini
.ropeproject
docs/_build
.venv
___*.py
Data.fs*
test.py
htmlcov

